{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

<h1>S'inscrire</h1>

{{ form_start(registrationForm) }}
{{ form_end(registrationForm) }}


{% endblock %}